/*!*********************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[5].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[5].use[2]!./src/pages/headphones-carousel/headphones-carousel.scss ***!
  \*********************************************************************************************************************************************************************************************************/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}
html:before, html:after,
body:before,
body:after,
div:before,
div:after,
span:before,
span:after,
object:before,
object:after,
iframe:before,
iframe:after,
h1:before,
h1:after,
h2:before,
h2:after,
h3:before,
h3:after,
h4:before,
h4:after,
h5:before,
h5:after,
h6:before,
h6:after,
p:before,
p:after,
blockquote:before,
blockquote:after,
pre:before,
pre:after,
abbr:before,
abbr:after,
address:before,
address:after,
cite:before,
cite:after,
code:before,
code:after,
del:before,
del:after,
dfn:before,
dfn:after,
em:before,
em:after,
img:before,
img:after,
ins:before,
ins:after,
kbd:before,
kbd:after,
q:before,
q:after,
samp:before,
samp:after,
small:before,
small:after,
strong:before,
strong:after,
var:before,
var:after,
b:before,
b:after,
i:before,
i:after,
dl:before,
dl:after,
dt:before,
dt:after,
dd:before,
dd:after,
ol:before,
ol:after,
ul:before,
ul:after,
li:before,
li:after,
fieldset:before,
fieldset:after,
form:before,
form:after,
label:before,
label:after,
legend:before,
legend:after,
article:before,
article:after,
aside:before,
aside:after,
canvas:before,
canvas:after,
details:before,
details:after,
figcaption:before,
figcaption:after,
figure:before,
figure:after,
footer:before,
footer:after,
header:before,
header:after,
hgroup:before,
hgroup:after,
menu:before,
menu:after,
nav:before,
nav:after,
section:before,
section:after,
summary:before,
summary:after,
time:before,
time:after,
mark:before,
mark:after,
audio:before,
audio:after,
video:before,
video:after,
button:before,
button:after {
  box-sizing: border-box;
}

sub,
sup {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  box-sizing: border-box;
}
sub:before, sub:after,
sup:before,
sup:after {
  box-sizing: border-box;
}

a:before, a:after {
  box-sizing: border-box;
}

table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: none;
}

q:before, q:after {
  content: none;
}

:focus {
  outline: 0;
}

input[type=text],
textarea {
  -webkit-appearance: none;
}
input[type=text]::-ms-clear,
textarea::-ms-clear {
  display: none;
}

input,
textarea {
  border-radius: 0;
  box-sizing: border-box;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: var(--input-placeholder-color);
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: var(--input-placeholder-color);
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: var(--input-placeholder-color);
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: transparent;
}

textarea {
  resize: none;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  word-wrap: break-word;
}

@font-face {
  font-family: "Rubik";
  src: url(../fonts/Rubik-Medium.woff2) format("woff2"), url(../fonts/Rubik-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url(../fonts/Rubik-Bold.woff2) format("woff2"), url(../fonts/Rubik-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --full-screen: calc(var(--vh, 1vh) * 100);
  --gl-indent: 2.5em;
  --content-width: 135.1em;
  --font_1: "RobotoCondensed", sans-serif;
  --font-size-body: 1.6em;
  --color-text-base: #000;
  --body-background: #fff;
  --accent-color: #4aa3df;
  --input-placeholder-color: var(--color-text-base);
}
@media screen and (min-width: 1024px) {
  :root {
    --font-size-html: 2.5vw;
  }
}
@media screen and (max-width: 1023px) {
  :root {
    --font-size-html: 10px;
  }
}

html {
  height: 100%;
  font-family: var(--font_1);
  font-weight: 400;
  line-height: 1.33;
  font-size: var(--font-size-html);
}

body {
  position: relative;
  height: 100%;
  font-size: var(--font-size-body);
  color: var(--color-text-base);
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--body-background);
}

.wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: auto !important;
  overflow-x: hidden;
}

.base {
  width: 100%;
  position: relative;
  flex: 1 0 auto;
}

.section {
  position: relative;
  width: 100%;
  font-size: 10px;
}
.section.demo_mod {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: var(--full-screen);
  font-size: 4em;
  color: #fff;
  text-align: center;
  background-color: #000;
}

.section_in {
  max-width: var(--content-width);
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--accent-color);
}
a:hover, a:focus {
  text-decoration: underline;
}

.icon {
  fill: currentColor;
}
.icon.icon--size_mod {
  width: 100%;
  height: 100%;
}

.header_hp {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  font-size: 10px;
  padding: 2.1em var(--gl-indent);
}

.header_hp_in {
  display: flex;
  align-items: center;
  max-width: var(--content-width);
  width: 100%;
  margin: 0 auto;
}

.header_hp__logo {
  display: block;
  width: 7.3em;
  height: 6.6em;
}

.header_hp__logo_img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header_hp__menu {
  margin: 0 auto;
}
@media screen and (max-width: 1023px) {
  .header_hp__menu {
    display: none;
  }
}

.header_hp__icons_list {
  display: flex;
  margin-right: -6.4em;
}

.header_hp_icons__item {
  padding-right: 6.4em;
}

.header_hp_icons__link {
  display: flex;
  width: 4.7em;
  height: 4.7em;
  background-color: #ffffff;
  border-radius: 50%;
}

.header_hp_icons__icon {
  display: block;
  width: 2.3em;
  height: 2em;
  margin: auto;
  color: transparent;
}

.header_hp__burger {
  position: relative;
  width: 3.8em;
  height: 2.8em;
}
@media screen and (max-width: 1023px) {
  .header_hp__burger {
    margin-left: auto;
  }
}

.header_hp__burger_decor {
  position: absolute;
  height: 3px;
  right: 0;
  background-color: #ffffff;
  border-radius: 0.3em;
}
.header_hp__burger_decor::before {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 3px;
  border-radius: 0.3em;
  background-color: #ffffff;
}
.header_hp__burger_decor:first-child {
  top: 0;
  width: 100%;
}
.header_hp__burger_decor:first-child::before {
  bottom: -1.7em;
}
.header_hp__burger_decor:last-child {
  bottom: 0;
  width: 80%;
}
.header_hp__burger_decor:last-child::before {
  top: -1.6em;
}

.hero {
  position: relative;
  height: var(--full-screen);
  padding: 2em var(--gl-indent);
  background: linear-gradient(74.79deg, #FF9292 -7.33%, #DE5150 90.21%);
}
@media screen and (min-width: 1024px) {
  .hero {
    font-size: 0.615vw;
  }
}
@media (max-width: 1023px) and (min-width: 480px) {
  .hero {
    font-size: 0.5em;
  }
}
@media screen and (max-width: 479px) {
  .hero {
    font-size: 0.38em;
  }
}

.hero_in {
  display: flex;
  align-items: center;
  height: 100%;
  max-width: 128.8em;
  width: 100%;
  margin: 0 auto;
}

.hero__wrap {
  width: 100%;
}

.hero_slide__wrap {
  display: flex;
  width: 100%;
}

.hero_slide__img_w {
  position: relative;
  z-index: 5;
  display: block;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}
@media screen and (min-width: 1024px) {
  .hero_slide__img_w {
    max-width: 57em;
  }
}
@media screen and (max-width: 1023px) {
  .hero_slide__img_w {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.9;
  }
}

.hero_slide__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hero_slide__content {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .hero_slide__content {
    padding: 4.5em 2em 3em 9.9em;
  }
}
@media screen and (max-width: 1023px) {
  .hero_slide__content {
    position: relative;
    z-index: 10;
  }
}

.hero_slide__uptitle {
  font-size: 2.2em;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.hero_slide__uptitle:not(:last-child) {
  margin-bottom: 0.3em;
}

.hero_slide__title {
  font-family: "Rubik";
  font-weight: 700;
  font-size: 9.9em;
  line-height: 1;
  text-transform: uppercase;
  color: #FFFFFF;
}
.hero_slide__title:not(:last-child) {
  margin-bottom: 0.3em;
}

.hero_slide__price {
  display: flex;
  align-items: center;
  font-family: "Rubik";
  color: #FFFFFF;
}
.hero_slide__price span {
  font-weight: 700;
  font-size: 4.4em;
}
.hero_slide__price span:not(:last-child) {
  padding-right: 0.7em;
  border-right: 1px solid #fff;
}
.hero_slide__price s {
  padding-left: 0.9em;
  font-size: 3.1em;
  color: #FFFFFF;
  opacity: 0.7;
}
.hero_slide__price:not(:last-child) {
  margin-bottom: 3.2em;
}

.hero_slide__btn_w {
  padding: 2em 0.8em;
  max-width: 19.1em;
  width: 100%;
  border-radius: 5em;
  background-color: #fff;
}

.hero_slide__btn {
  font-family: "Rubik";
  font-size: 2.2em;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #FF4948;
}

.hero_slide__decors {
  font-size: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@media screen and (min-width: 1024px) {
  .hero_slide__decors {
    width: 50%;
  }
}
@media screen and (max-width: 1023px) {
  .hero_slide__decors {
    width: 100%;
  }
}

.hero_slide__decor {
  position: absolute;
  opacity: 0.1;
}
.hero_slide__decor:nth-child(1) {
  top: 27.7%;
  left: -0.6%;
  width: 9em;
  height: 9em;
}
.hero_slide__decor:nth-child(2) {
  top: 33.7%;
  left: 19.2%;
  width: 5.7em;
  height: 7em;
}
.hero_slide__decor:nth-child(3) {
  top: 64%;
  left: -0.1%;
  width: 5.1em;
  height: 6em;
}
.hero_slide__decor:nth-child(4) {
  top: 13.9%;
  left: 84.9%;
  width: 6.4em;
  height: 6.4em;
}
.hero_slide__decor:nth-child(5) {
  top: 41.7%;
  left: 88.2%;
  width: 10.4em;
  height: 10.4em;
}
.hero_slide__decor:nth-child(6) {
  top: 12.4%;
  left: 23.3%;
  width: 7.4em;
  height: 7.5em;
}
.hero_slide__decor:nth-child(7) {
  top: 6%;
  left: 70.9%;
  width: 7.2em;
  height: 6.5em;
}
.hero_slide__decor:nth-child(8) {
  top: 65.9%;
  left: 18.4%;
  width: 7.8em;
  height: 7.5em;
}
.hero_slide__decor:nth-child(9) {
  top: 75.2%;
  left: 73.2%;
  width: 7em;
  height: 7.3em;
}

/*# sourceMappingURL=headphones-carousel.css.map*/